langchain
langgraph
langchain-tavily
langchain-groq
langchain-core
langchain-community
python-dotenv
fastapi
fastapi[standard]
uvicorn
pydantic
httpx
groq
pydantic-settings
sentence-transformers
scikit-learn
spacy 
numpy



# download spacy module
# python -m spacy download en_core_web_sm